{% extends 'layout.html' %}
{% block content %}

<!--================Hero Banner Area Start =================-->
<section class="hero-banner">
    <div class="container">
        <h2>Recent Project</h2>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Project</li>
            </ol>
        </nav>
    </div>
</section>
<!--================Hero Banner Area End =================-->



<!--================ Start Portfolio Area =================-->
<section class="portfolio_area area-padding" id="portfolio">
    <div class="container">
        <div class="area-heading">
            <h3>Check <span>Our Recent</span> Work</h3>
            <p>She'd earth that midst void creeping him above seas.</p>
        </div>

        <div class="filters portfolio-filter">
            <ul>
                <li class="active" data-filter="*">all</li>
                {% for genre in genres %}
                <li data-filter=".{{genre}}">{{genre}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="filters-content">
            <div class="row portfolio-grid">
                <div class="grid-sizer col-md-3 col-lg-4"></div>
                {% for pic in pics %}
                <div class="col-lg-4 col-md-6 all {{pic.picGenre}}">
                    {% set fname = url_for('static', filename='UploadedImages/') %}
                    <div class="single_portfolio">
                        <img class="img-fluid w-100" src="{{fname+pic.picName}}" alt="">
                        <div class="short_info">
                            <p>{{pic.picCaption}}</p>
                            <h3>{{pic.picLocation}}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--================ End Portfolio Area =================-->

<!--================Testimonial section Start =================-->
<section class="bg-gray area-padding bg-1">
    <div class="container">
        <div class="area-heading">
            <h3>happy <span> clients</span> says</h3>
            <p>She'd earth that midst void creeping him above seas</p>
        </div>

        <div class="owl-carousel owl-theme testimonial">
            {% for item in reviewPart %}
            <div class="testimonial__item">
                <div class="row">
                    <div class="col-md-4 offset-0 col-lg-4 offset-lg-l align-self-center">
                        {% set fname = url_for('static', filename='UploadedImages/') %}
                        <div class="testimonial__img">
                            <img class="" src="{{ fname+item[0] }}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <div class="testimonial__content">
                            <h3>{{ item[1] }} </h3><span>/</span>
                            <h6>{{ item[2] }}</h6>
                            <div class="testimonial_para_wrapper">
                                <p class="testimonial__i">{{ item[3] }}</p>
                            </div>
                            <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--================Testimonial section End =================-->

{% endblock %}